// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// resets
body {
  margin: 0;
  color: $dark;
  background: #e6ecf0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

// fonts
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: $primary;
  margin: 0;
  cursor: pointer;

  &:hover {
    color: lighten($primary, 5%);
  }
}

// globals
section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 742px) {
    display: block;
  }
}

.container {
  position: relative;
  margin: 5vh auto 0;
  padding: 32px;
  max-width: 680px;
}

.col1,
.col2 {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;
  @media screen and (max-width: 742px) {
  }
}

[v-cloak] {
  display: none;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($dark, 0.4);
  z-index: 9999;

  p {
    background: $white;
    width: 150px;
    text-align: center;
    margin: 40vh auto 0;
    padding: 40px 0;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba($dark, 0.5);
  }
}

.error-msg {
  margin-top: 1rem;
  text-align: center;

  p {
    color: $error;
    margin: 0;
  }
}

.button {
  border-radius: 6px;
  padding: 12px 45px;
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  min-width: auto;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: $primary-button-color;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
    fill: $white;
    margin-right: 5px;
  }

  &:hover {
    background: darken($primary-button-color, 5%);
    color: $white;
  }

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--gray {
    background: $secondary-button-background;
    color: $primary-text;

    svg {
      width: 20px;
      height: 20px;
      fill: $black;
    }

    &:hover {
      background: darken($secondary-button-background, 5%);
      color: $primary-text;
    }
  }

  &--light {
    background: $primary-button-background;
    color: $primary;

    &:hover {
      background: darken($primary-button-background, 5%);
      color: $primary;
    }

    svg {
      fill: $primary;
    }
  }

  &--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    z-index: 9;
    padding: 3px;

    svg {
      margin: 0;
    }
  }
}

.text-center {
  text-align: center;
}

.inline {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

.clear {
  clear: both;
}

form {
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  input:not([type='checkbox']) {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 10px;
    outline: 0;
    border: 1px solid #e6ecf0;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 5px 0 rgba($dark, 0.2);
    }
  }
}

textarea {
  resize: none;
  border: 1px solid #e6ecf0;
  outline: 0;
  height: 100px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.error {
  color: $error;
  display: block;
  margin-bottom: 1rem;
  position: relative;
  top: -8px;
}

svg {
  width: 20px;
  height: 20px;
}
